<div id="emoji-menu" class="hidden absolute flex flex-wrap absolute bottom-[97px] left-0 bg-white p-1 rounded-t-xl rounded-br-xl gap-1">
    <!-- Smiley -->
    <span class="cursor-pointer emojis text-xl ">😃</span>
    <span class="cursor-pointer emojis text-xl ">😁</span>
    <span class="cursor-pointer emojis text-xl ">😅</span>
    <span class="cursor-pointer emojis text-xl ">😂</span>
    <span class="cursor-pointer emojis text-xl ">🤣</span>
    <span class="cursor-pointer emojis text-xl ">😉</span>
    <span class="cursor-pointer emojis text-xl ">😍</span>
    <span class="cursor-pointer emojis text-xl ">😘</span>
    <span class="cursor-pointer emojis text-xl ">😎</span>
    <span class="cursor-pointer emojis text-xl ">🤩</span>
    <span class="cursor-pointer emojis text-xl ">🥳</span>
    <span class="cursor-pointer emojis text-xl ">😒</span>
    <span class="cursor-pointer emojis text-xl ">😔</span>
    <span class="cursor-pointer emojis text-xl ">😫</span>
    <span class="cursor-pointer emojis text-xl ">🥺</span>
    <span class="cursor-pointer emojis text-xl ">😢</span>
    <span class="cursor-pointer emojis text-xl ">😭</span>
    <span class="cursor-pointer emojis text-xl ">😮</span>
    <span class="cursor-pointer emojis text-xl ">😡</span>
    <span class="cursor-pointer emojis text-xl ">😳</span>
    <span class="cursor-pointer emojis text-xl ">😱</span>

    <!-- Gesture and Body Parts -->
    <span class="cursor-pointer emojis text-xl ">👋</span>
    <span class="cursor-pointer emojis text-xl ">👈</span>
    <span class="cursor-pointer emojis text-xl ">👉</span>
    <span class="cursor-pointer emojis text-xl ">👆</span>
    <span class="cursor-pointer emojis text-xl ">👇</span>
    <span class="cursor-pointer emojis text-xl ">👍</span>
    <span class="cursor-pointer emojis text-xl ">👎</span>
    <span class="cursor-pointer emojis text-xl ">👌</span>
    <span class="cursor-pointer emojis text-xl ">👏</span>
    <span class="cursor-pointer emojis text-xl ">🙏</span>
    <span class="cursor-pointer emojis text-xl ">💪</span>
</div>